* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 5rem;
}

.card {
  width: 250px;
  height: 400px;
  background-color: #000;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.card .material-symbols-outlined {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.animate0 {
  overflow: hidden;
}

.animate0::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 30%;
  background-color: #fff;
  border-radius: 8px;
}

.animate0:hover::before {
  animation: animate0 2s linear infinite;
}

.animate0::after {
  content: "";
  position: absolute;
  background-color: #000;
  inset: 5px;
}

@keyframes animate0 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-110%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate1::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 400px;
  background-color: tomato;
  border-radius: 15px;
  z-index: -1;
  transition: 0.3s;
  animation: animate 2s linear infinite;
}

.animate1:hover::before {
  width: 262px;
  height: 412px;
}
@keyframes animate {
  50% {
    filter: hue-rotate(350deg);
  }
}

.animate2 {
  overflow: hidden;
}

.animate2::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 180%;
  background-color: #fff;
  transform: rotate(45deg);
}

.animate2:hover::before {
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate2::after {
  position: absolute;
  content: "";
  inset: 5px;
  background-color: #000;
  border-radius: 8px;
}

.animate3::before {
  position: absolute;
  content: "";
  width: 260px;
  height: 410px;
  background-color: cornflowerblue;
  border-radius: 8px;
  z-index: -1;
  transition: 0.3s;
  /* animation: animate3 2s linear infinite; */
}

.animate3:hover::before {
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  50% {
    filter: hue-rotate(300deg);
  }
}
